.circle-input-img {
  /* width: 200px; */
  width: 600px;
  height: 300px;
  /* border-radius: 50%; */
  border-radius: 10px;
  border: 1.5px dotted #00246a;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.selectedImg {
  /* width: 200px; */
  width: 600px;
  height: 300px;
  /* border-radius: 50%; */
  border-radius: 10px;
  cursor: pointer;
}

.three-Dots-in-multiLine {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Adjust the number of lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  word-break: break-word;
}
