.addTeamPage {
  align-items: center;
  color: #00246a;
  font-size: 18px;
  font-weight: 600;
}

.calendarCss {
  position: absolute;
  left: 7px;
  top: 13px;
  cursor: pointer;
}

.icons {
  width: 20px;
}

.leftComponentCss {
  font-size: 20px;
  font-weight: 500;
  color: #4b5966;
}

#asc-date .ant-picker-input {
  color: #4b5966;
  font-size: 16px !important;
  font-weight: 500;
}

.team-custom-spin .ant-spin-dot i {
  background-color: white !important;
}

/* Different browsers ke autofill ko handle karne ke liye 
-webkit-autofill, -moz-autofill, aur -ms-autofill ka use kiya gaya hai. */

input:-webkit-autofill {
  background-color: transparent !important; /* Autofill background */
  transition: background-color 9999s ease-in-out 0s !important; /* Force transparent */
}

input:-moz-autofill {
  background-color: transparent !important;
  transition: background-color 9999s ease-in-out 0s !important; /* Force transparent */
}

input:-ms-autofill {
  background-color: transparent !important;
  transition: background-color 9999s ease-in-out 0s !important; /* Force transparent */
}
