.custom-drawer {
  background: #f2f2f2 !important;
}

.custom-header {
  background-color: white !important;
}
.custom-body {
  background-color: white !important;
}
.custom-footer {
  background-color: green !important;
}

.drawer-title {
  color: #4b5966;
  font-weight: bold;
  font-size: 18px;
}

/* Navigate items below */
.optionText {
  color: #4b5966;
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 20px;
  transition: all 0.3s ease-in-out;
}

.optionText:hover {
  background: #5caf90;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 20px;
  transition: all 0.3s ease-in-out;
  padding-left: 20px;
}

.drawer-txtHighlighted {
  text-decoration: none;
  color: #5caf90;
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 20px;
  /* transition: all 0.3s ease-in-out !important; */
}
