.headerMainDiv {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}

.txtDacoration {
  text-decoration: none;
  color: #4b5966;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.txtDacoration:hover {
  color: #5caf90;
}

.txtHighlighted {
  text-decoration: none;
  color: #5caf90;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.withUnderLine {
  border-bottom: 4px solid #00246a;
  text-decoration: none;
  color: #00246a;
  font-size: 18px;
  font-weight: 600;
}

.withUnderLineAnima {
  width: 110px;
  position: absolute;
  border-bottom: 4px solid #00246a;
  border-radius: 10px;
  transition: all 0.3s ease-in-out !important;
  /* right: 50px; */
  top: 85px;
}

.userImg {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 12px 20px #e3e3e3;
}

.commanSearchBox {
  border: 1px solid grey;
  border-radius: 25px;
  width: 100%;
  transition: all 0.5s ease-in-out;
}

.commanSearchBox:hover {
  width: 110%;
  transition: all 0.5s ease-in-out;
}
