/* ASC BOOT DROPDOWN START */
.ascInputBootDiv {
  position: relative;
  width: 100%;
  max-width: 250px;
  height: 50px;
  border: 1px solid #70707080;
  border-radius: 8px;
  background: white;
  color: #4b5966;
  font-size: 16px;
  box-shadow: 0 5px 12px #2d2e1c1a;
  box-shadow: 0 12px 20px #e3e3e3;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out 0s;
}

.selectedInput {
  color: #4b5966;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.3s ease-in-out 0s;
}

.ascBootOptionDrop {
  position: absolute;
  top: 105px;
  width: 100%;
  max-width: 250px;
  height: auto;
  border: 1px solid #70707080;
  border-radius: 8px;
  background: white;
  color: #4b5966;
  font-size: 16px;
  font-weight: 400;
  padding-top: 15px;
  box-shadow: 0 12px 20px #e3e3e3;
  cursor: pointer;
  z-index: 10;
  /* transition: all 0.3s ease-in-out 0s; */
}

.ascBootOptionList {
  height: auto;
  max-height: 200px;
  overflow: auto;
  transition: all 0.3s ease-in-out 0s;
}

.ascInputBoot {
  display: flex;
  align-items: center;
  height: 30px;
  border: 1px solid #777;
  border-radius: 5px;
  transition: all 0.3s ease-in-out 0s;
}

.bootSearch {
  color: #4b5966;
  font-size: 14px;
  font-weight: 400;
  border: none;
}

textarea:focus,
input:focus {
  outline: none;
}

.ascBootList {
  display: flex;
  font-size: 16px;
  font-weight: 400;
  color: #4b5966;
  transition: all 0.3s ease-in-out;
}

.ascBootList:hover {
  color: #4b5966;
  background-color: #f1f1f1;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}

.selectedItem {
  display: flex;
  color: #4b5966;
  font-weight: 500;
  background-color: #f1f1f1;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}

.option-img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.xicon {
  width: 8px;
  height: 8px;
  opacity: 80%;
}
/* ASC BOOT DROPDOWN End */
