.buttonsDiv {
  display: flex;
  justify-content: end;
  text-align: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}

.signup-label {
  color: #4b5966;
  font-size: 18px;
  font-weight: 600;
}

.signup-inputBorder {
  background: transparent;
  color: #777;
  border: 1px solid #4b5966;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 500;
  width: 100%;
  height: 50px;
  outline: none;
}

.signup-inputBorder:focus {
  border: 1.5px solid green;
}

.warningTxt {
  font-size: 14px;
  color: #dc3545;
  font-weight: 500;
}
