/* ql Editor classes start */
#task_editor.taskEditor {
  width: auto;
  border: 1px solid #00246a;
  border-radius: 8px;
}

.ql-toolbar {
  border: none !important;
}

.ql-container {
  border: none !important;
  /* min-height: 100px; */
  /* padding: 10px; */
}

.ql-editor {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 18px;
}

.customEditorWrapper .ql-container {
  background-color: red;
  border-radius: 5px;
}
/* ql Editor classes end */

/* ////////////////////////////////////////////////// */

.commentsDiv {
  border: 1px solid grey;
  border-radius: 8px;
  font-size: 18px;
  padding: 10px;
}

/* Tip Tap Editor css start */
.tipTapToolbar {
  display: flex;
  justify-content: start;
  gap: 15px;
  border: 1px dotted grey;
  border-radius: 8px;
}

.tipTapToolbarIcon {
  border: 1px solid grey;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.ProseMirror {
  padding: 10px !important;
  font-size: 18px !important;
  border: 1px solid gray;
  outline: none;
  border-radius: 10px;
}

.ProseMirror p.is-empty::before {
  content: attr(data-placeholder);
  color: gray;
  opacity: 90%;
  position: absolute;
  pointer-events: none;
}

.tipTapToolbarIcon.active {
  background: #4caf50;
  color: white;
}

.tipTapToolbarIcon:hover {
  background: #ddd;
}
/* Tip Tap Editor css end */
