.commentsDiv {
  border: 1px solid grey;
  border-radius: 8px;
  font-size: 16px;
  padding: 10px;
}

/* Tip Tap Editor css start */
.tipTapToolbar {
  display: flex;
  justify-content: start;
  gap: 15px;
  border: 1px dotted grey;
  border-radius: 8px;
}

.tipTapToolbarIcon {
  border: 1px solid grey;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.ProseMirror {
  padding: 10px !important;
  font-size: 16px !important;
  border: 1px solid gray;
  outline: none;
  border-radius: 10px;
}

.ProseMirror p.is-empty::before {
  content: attr(data-placeholder);
  color: gray;
  opacity: 90%;
  position: absolute;
  pointer-events: none;
}

.tipTapToolbarIcon.active {
  background: #4caf50;
  color: white;
}

.tipTapToolbarIcon:hover {
  background: #ddd;
}
/* Tip Tap Editor css end */
